@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

body {
  box-sizing: border-box; /* Hace que el modelo de caja incluya el padding y border en el ancho y alto */
  font-weight: 600;
  background-position: center;
  margin: 0;
  padding: 0;
}

/*ESTILO DE NAV PARA TODOS AL HACER CLICK O PASAR EL CURSOR*/
nav{
  display: block;
  font-family: "Atma", system-ui;
}
nav ul{
  list-style: none;
  float: right;
}
nav ul li a{
  display: block;
  padding: 17px 12px;
  text-decoration: none;
}
nav ul li a:hover{
  background-color: #2e014b85;
  color: white;
}
nav ul li a:active{
  background-color:  #48186654;
}
nav ul li a.donate-link:link, a.donate-link:visited{
  background-color: #48186654;
  padding: 10px;
  color: white;
}

nav ul li a.donate-link:hover,
nav ul li a.donate-link:focus {
  background-color: #ff10afbd;
  color: white;
}

/*BARRA DE MENÚ DEL HOME*/
.header-home{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  background-color: #5a1d803c;
}
.logomenu img{
height: 3.8em;
width: auto;
}
.barra-home {
  cursor: pointer;
  flex: 1; /* El nav ocupará todo el espacio restante */
}
.home-links li a {
  text-decoration: none;
  color: white ;
  font-size: 1.2em;
  font-weight: 800;
  align-items: center;
}
.donate-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.donate-text {
  margin-left: 5px;
}
.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Asegura que el contenedor principal ocupe toda la altura de la pantalla */
}
.campaña {
  position: relative;
  z-index: 1;
}
.campaña img {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.quienes-somos {
  display: none;
}
.footer-home {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3em 0;
  background-color: #2e014b85;
  text-shadow: 2px 2px 10px #252525a0;
  color: white;
  font-family: system-ui;
  z-index: 3; /* Asegúrate de que el z-index del footer sea mayor que el del contenedor de la imagen */
}
.footer-home p {
  margin: 0;
}

.popup-home{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  #2e014b85;
  z-index: 9999;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  background-color: #fff2f8;
  padding: 20px;
  border-radius: 5px;
}
.close-home {
  position: absolute;
  top: 0.8em;
  right: 0.4em;
  font-size: 3em;
  cursor: pointer;
}
.close-home:hover{
color:  #ff10afbd;
}
.bienvenida img{
  width: 100%;
  margin: auto; /* Centrar la imagen */
}
.texto-saludo{
  width: 100%;
}
.texto-saludo h1{
  font-size: 1.8em;
  padding-top: 25px;
  font-family: "Atma", system-ui;
}
.texto-saludo p{
  text-align: justify;
  font-size: 1em;
  padding-top: 15px;
  padding-bottom: 50px;
  font-family: system-ui;
}

/* Estilos para hacer el encabezado responsive */
@media screen and (max-width: 768px) {
  nav ul li a{
    padding: 14px 10px;
  }
  nav ul li a.donate-link:link, a.donate-link:visited{
    padding: 7px;
  }
  .header-home{
    max-height: 58px;
  }
  .logomenu img{
  max-width: 150px;
  height: 42px;
  padding-top: 2px;
  }
  .barra-home{
    flex-direction: row;
    justify-content: center;
  }
  .home-links{
    padding: 0;
  }
  .home-links li a {
    font-size: 0.8em;
  }
  .donar-icon{
    width: 35px;
  }
  .campaña img {
    width: 100%;
    max-height: 340px;
    height: auto;
    margin: 0;
  }
  .quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
  }
  .texto-bienvenida{
    width: 70%;
    margin-bottom: 20px;
    color: #27171F;
    padding-top: 20px;
  }
  .texto-bienvenida .welcome{
    text-shadow: 2px 2px 4px #ff10afbd;
    font-family: "Atma", system-ui;
    font-size: 1.2em;
  }
  .texto-bienvenida .text-welcome{
    text-align: justify;
    font-family: system-ui;
    padding-top: 18px;
  }
  .quienes-somos img{
    background-image: url("images/huella-bienvenida.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .footer-home {
    text-align: center;
    position: fixed;
    font-size: 0.63em;
  }
  .popup-home{
    display: none;
  }
}

/* sección de bienvenida en pantallas con altura menor a 800px */
@media screen and (max-height: 800px) {
  .campaña{
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
    margin: 0;
    padding: 0;
    background-size: auto;
    width: 100%; /* Asegura que el contenedor tenga el mismo ancho que la pantalla */
    height: 100%; /* Asegura que el contenedor tenga el mismo alto que la pantalla */
  }
  .campaña img {
    width: 100vw; /* La imagen de la campaña ocupará el 100% del ancho del contenedor */
    height: 100vh; /* La imagen de la campaña ocupará el 100% del alto del contenedor */
  }
  .popup-content {
    height: 91%;
    padding: 19px;
  }
}


/*--BARRA DE MENÚ DE ADOPT, GRACIAS, DONATE--*/
.header-general {
  display: flex;
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: center;
  border-top:  4px solid  #C3A8D5;
  border-bottom: 4px solid   #C3A8D5;
}
.barra-general{
  cursor: pointer;
  flex: 1;
}

/*-- darle forma a la lista desordenada (links)--*/
.home-links,
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.nav-links li a {
  font-size: 1.2rem;
  font-weight: 800;
  color:  #27171F;
  text-decoration: none;
  align-items: center;
}

/*--estilo de ícono DONATE--*/
.donar {
  cursor: pointer;
}

/*--ADOPTA--*/
.main-adopta{
  background-image:url("images/fondo-gracias.png");
  background-size: 100% 100%;
  position: relative; /* elementos dentro del main respeten el z-index */
  background-repeat: no-repeat;
  z-index: 1;
}
.main-adopta h1 {
  width: 70%;
  text-align: start;
  flex-direction: row;
  font-weight: 620;
  font-size: 1.8em;
  font-family: "Atma", system-ui;
  color: #A03CC1;
  text-shadow: 2px 2px 2px #b6b4b4a0;
  margin: 6px auto 15px;
  padding-top: 15px;
}
.main-adopta h2{
  width: 70%;
  font-size: 1.3em;
  font-family: "Atma", system-ui;
  margin-left: auto;
  margin-right: auto;
  color: #27171F;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 9px;
}
.main-adopta p {
  font-family: system-ui;
  text-align: justify;
  font-size: 1em;
  width: 70%;
  color: #27171F;
  margin: 0 auto;
  padding-top: 22px;
}
.main-adopta h3{
  font-size: 1.1em;
  font-family: "Atma", system-ui;
  margin-top: 25px;
  text-align: center;
  padding-bottom: 2.6em;
  color: #27171F
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
}
.neon:hover{
  box-shadow: 0 0 28px #ff10afbd;
}
.main-adopta .neon {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  max-width: 650px;
  padding: 5px 5px 0;
}
.main-adopta .neon img{
    background-color: white;
    width: 100%;
    max-width: 650px;
    justify-content: center;
    height: 160px;
    border: 8px solid transparent;
    border-radius: 8px;
    animation: neonAnimation 8s linear infinite;
}
@keyframes neonAnimation {
  0% {
      border-color: #ff058f;
  }
  33% {
      border-color: #ff058f80;
  }
  66% {
      border-color:  #ff71f8;
  }
  100% {
      border-color:#ffc2e9;
  }
  }
  #myForm{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding:  50px 0 30px 0;
    position: relative;
  }
.main-adopta .columna {
  font-family: "Atma", system-ui;
  padding: 0 50px 0 0;
  color:  #A03CC1;
  text-shadow: 2px 2px 2px #b6b4b4a0;
  font-size: 1em;
  box-sizing: border-box;
  width: calc((100% - 500px) / 2);
}
.label{
  margin-top: 15px;
  display: block;
}
.main-adopta .columna input{
  display: flex;
  width: 100%;
  padding: 5px;
  margin-top: 2px;
  border-radius: 6px;
  text-align: left;
  border: 2px solid  #b6b4b4a0;
  background-color: #f8f8f8;
  font-family: system-ui;
    color:  #27171F;

  }
/* Estilo para cuando el campo de entrada está enfocado */
.columna input:focus {
  border-color: #ff058f; /* Cambia el color del borde al estar enfocado */
  box-shadow: 0 0 5px #ff058f80; /* Añade una sombra al estar enfocado */
  outline: none; /* Elimina el contorno predeterminado del navegador */
}
  .columna input:hover{
    border-color: #aaa;
    cursor: pointer;
  }
#opciones{
  border-radius: 6px;
  width: 100%;
  appearance: none;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #b6b4b4a0;
  background-color: #f8f8f8;
  font-family: system-ui;
  text-align: center;
  color:  #27171F;
}
#opciones:hover{
  border-color: #aaa;
  cursor: pointer;
}
#opciones:focus {
  border-color: #ff058f;
  box-shadow: 0 0 5px rgba(255, 5, 143, 0.5);
  outline: none;
}
.main-adopta .send {
  padding: 10px;
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.main-adopta .send #btn-send {
  font-family: "Atma", system-ui;
  font-size: 1.3em;
  font-weight: 700;
  background: #A03CC1;
  font-size: 25px;
  color: white;
  padding: 6px 12px;
  border-radius: 9px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}
.main-adopta .send #btn-send:hover{
  background: #ff10afbd;
  cursor: pointer;
}

#columna1 {
  position: relative;
  width: 450px;
  height: 580px;
}
.contenedor-slide {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.slide1, .slide2, .slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.slide1 {
  animation: fadeInOut 30s 1; /* Duración total de 30 segundos, solo se reproduce una vez */
}
.slide2 {
  animation: fadeInOut 30s 1;
  animation-delay: 15s; /* Comienza después de 15 segundos de la animación anterior */
}
.slide3 {
  animation: fadeInOut 30s 1;
  animation-delay: 30s; /* Comienza después de 30 segundos*/
}
.imagen-es {
  display: none;
}
.imagen-en {
  display: block;
}

/* Definición de la animación */
@keyframes fadeInOut {
  0%, 30% { opacity: 0; } /* Las imágenes están completamente invisibles al principio y al final */
  30%, 65% { opacity: 1; } /* se muestran durante el 30% del tiempo */
  70%, 100% { opacity: 0; } /* Las imágenes están completamente invisibles al final */
}

/* Mantener la primera imagen visible al final */
.slide1 {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .header-general {
    max-height: 58px;
  }
  .barra-general{
    flex-direction: row;
    justify-content: center;
  }
  .nav-links{
    padding: 0;
  }
  .nav-links li a{
    font-size: 0.8em;
  }
  .main-adopta h1{
    width: 85%;
    font-size: 1.6em;
  }
  .main-adopta h2{
    width: 85%;
    font-size: 1.1em;
    text-align: justify;
    padding-top: 4px;
  }
  .main-adopta p{
    width: 85%;
  }
  .main-adopta h3{
    font-size: 1em;
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .main-adopta .neon{
    max-width: 340px;
  }
  .main-adopta .neon img{
    max-width: 340px;
    height: 90px;
    border: 6px solid transparent;
  }
  #myForm{
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }
  .main-adopta .columna {
    padding: 0;
    width: 50%; /* Ajustar el ancho para adaptarse a pantallas más pequeñas */
  }
  .main-adopta .send {
    width: 90%;
  }
  .main-adopta .send #btn-send {
    font-size: 1.3em;
  }
   .img-adopta {
    margin-top: 20px;
  }
  #columna1{
    width: 100%;
    max-height: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #columna1 img{
    display: flex;
    max-width: 380px;
    height: 500px;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
  }
  .footer {
    padding: 5px;
    height: auto;
  }
  .contacto{
    text-align: center;
  }
  .contacto h3,
  .contacto a {
    font-size: 0.6em;
    line-height: 0.5;
  }
  .redes img {
    max-width: 15px;
  }
  .footer-copyright {
    font-size: 0.6em;
    margin-top: 10px;
  }
}


/* Validar donation--*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main-validation{
    background-size: 100% 100%;
    position: relative;
    background-repeat: no-repeat;
    z-index: 1;
  }
.texto-donar {
width: 40%;
margin: 0 auto;
float: left;
padding: 4em 2.5em;
height: auto;
}
.texto-donar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #FFF2F8;
  background-size: auto 100%;
  z-index: -1;
}
.texto-donar .title-validation{
  padding-bottom: 1.2em;
  font-family: "Atma", system-ui;
  font-size: 1.8em;
  color: #A03CC1;
  text-shadow: 2px 2px 2px #b6b4b4a0;
  text-align: justify;
}
.texto-donar .text-validation{
  font-family: system-ui;
  text-align: justify;
  color: #27171F;
  font-size: 1em;
  padding-bottom: 1em;
}
.contenedor {
  width: 60%;
  max-width: 800px;
  /*--para centrar la página de manera horizontal se usa el margin auto --*/
  margin: 0 auto;
  /*--Se trabaja con flexbox porque tenemos la tarjeta, un botón y el formulario --*/
  display: flex;
  /*-- se utilizó flex direccion para que los elementos como el botón y el formulario no se desplieguen hacia le derecha, sino mantenga el orden hacia abajo-*/
  flex-direction: column;
  /*-- como rotamos la posición de flexbox de horizontal a vertical, debemos de invertir el alineado con el aling items center--*/
  /*-- por eso utilizamos el align porque debemos invertir el alineado centrado a horizontal--*/
  align-items: center;
  padding-top: 3.5em;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*------ Estilos generales de la tarjeta ------*/
.tarjeta {
  width: 90%;
  max-width: 500px;
  height: auto;
  position: relative;
  color: rgba(255, 0, 106, 0.966);
  transition: .3s ease all;
  /*--por defecto una rotación de 0 grados, es decir que no se mueva y quede fija --*/
  transform: rotateY(0deg);
  /*-- efecto de girar la tarjeta--*/
  transform-style: preserve-3d;
  /*-- este efecto ayuda para que al rotar la tarjeta se oculte la info de la primera cara y solo se vea la posterior--*/
  backface-visibility: hidden;
  cursor: pointer;
  /*-- como tenemos 3 capas el z-index permite que cada capa se vea según el orden que lo establezcamos--*/
  z-index: 2;
}

/*-- se crea tarjeta active para que cuando el usuario de un click sobre ella y gire--*/
/*-- la tarjeta active se mostrará con js al dar click--*/
.tarjeta.active {
  /*--y girará en 180°--*/
  transform: rotateY(180deg);
}

/*-- Como tenemos 2 div dentro de nuestra tarjeta, quiero que ambas tengan estas características, tanto la tarjeta delantera y la trasera--*/
.tarjeta>div {
  padding: 20px;
  border-radius: 15px;
  /*--para que tenga un alto mínimo se usa min-height--*/
  min-width: 20px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  /*--espaceado entre cada elemento sea separado se usa justify-content--*/
  justify-content: space-between;
  /*--sombra con box-shadow--*/
  box-shadow: 0 10px 10px 0 rgba(174, 82, 235, 0.3);
  height: 100%;
}

/*-----TARJETA DELANTERA-----*/
/*--- FONDO DE GATITO DE LA TARJETA--*/
.tarjeta .delantera {
  width: 100%;
  background: url("images/bg-tarjeta/fondodelantera1.png");
  background-size: cover;
}
/*--cambiar los tamaños de chip, logo y fondo de la tarjeta ya que cogieron el tamaño del 100% por el display flex de los div anteriores--*/
.delantera .visa {
  text-align: right;
  min-height: 60px;
}
.delantera .visa img {
  width: 100%;
  height: 100%;
  /*--LA IMAGEN DEL LOGO SE VUELVE MÁS PEQUEÑA--*/
  object-fit: cover;
  max-width: 75px;
}
.delantera .chip {
  width: 100%;
  max-width: 65px;
  max-width: 35px;
}
.delantera .grupo .label {
  font-size: 1.2em;
  color: #A03CC1;
  font-family: "Atma", system-ui;
}
.delantera .grupo .numero,
.delantera .grupo .fullName,
.delantera .grupo .expiracion {
  font-family: system-ui;
  color: #ee1694;
  font-size: 1em;
  font-weight: 700;
  /*--PARA QUE ESTÉN EN MAYUSCULAS UPPERCASE--*/
  text-transform: uppercase;
}

.delantera .flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

/*------ TARJETA TRASERA ------*/
/*-- FONDO Y ESTILO DE LA TARJETA TRASERA--*/
.reversa {
  background: url("images/bg-tarjeta/Ttrasera.png");
  background-size: 100% 100%;

  position: absolute;
  top: 0;
  /*--GIRAMOS LA TARJETA 180 GRADOS CON LA PROPIEDAD DE TRANSFORM --*/
  transform: rotateY(180deg);
  /*-- este efecto ayuda para que al rotar la tarjeta se oculte la info de la primera cara y solo se vea la posterior--*/
  backface-visibility: hidden;
}
.reversa .barra {
  height: 40px;
  background: #570179;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}
.reversa .datos {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.reversa .datos p {
  margin-bottom: 5px;
}
.reversa .datos #firma {
  width: 70%;
  font-family: system-ui;
}
.reversa .leyenda {
  font-size: 0.75em;
  line-height: 18px;
  font-family: system-ui;
}
.reversa .link-banco {
  font-size: 1em;
  color: #A03CC1;
  font-family: system-ui;
}
/*-- contenedor botón --*/
.contenedor-btn .btn-abrir {
  position: relative;
  top: -30px;
  border-style: none;
}
.contenedor-btn .btn-abrir img {
  position: relative;
  z-index: 3;
  transition: all .3s ease;
  padding: 1px;
  border: #ff0e72c4;
  border-radius: 200%;
  cursor: pointer;
  transition: all .3s ease;
  box-shadow: -1px 2px 8px #ff0e72c4;
}
.contenedor-btn .btn-abrir img:hover {
  background: #ff0e72c4;
}
.contenedor-btn .btn-abrir img.active {
  transform: rotate(45deg);
}

/*--formulario--*/
.formulario-tarjeta {
  background: rgba(228, 220, 228, 0.801);
  color: #27171F;
  width: 90%;
  max-width: 600px;
  padding: 124px 30px 10px 30px;
  border-radius: 10px;
  position: relative;
  top: -154px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path .3s ease-out;
}

/*-- cuando formulario tenga la clase active y se de un click quiero que tenga un clip-path--*/
.formulario-tarjeta.active {
  /*--funciona con JS--*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.formulario-tarjeta label {
  font-family: "Atma", system-ui;
  font-weight: 650;
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
}
.formulario-tarjeta input,
.formulario-tarjeta select {
  border: 3px solid #2e014b85;
  font-size: 0.95em;
  height: 30px;
  width: 100%;
  padding: 1px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: system-ui;
  font-weight: 650;
  color:  #252525a0;
}

/*--para que las lineas del border de cada espacio a completar en el formulario cambien de color--*/
.formulario-tarjeta input {
  margin-bottom: 7px;
}
.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
  border-color: #ff058f;
  box-shadow: 0 0 8px #A03CC1;
  outline: none;
}
.grupo.ccv {
  position: relative;
}
.grupo.ccv button {
    position: absolute;
    right: 5px; /* Ajusta la posición del botón a la derecha */
    top: 50%; /* Ajusta la posición verticalmente al centro */
    transform: translateY(20%);
}
#toggleVisibility{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 8px;
  outline: none;
}
.ojo-cerrado{
  width: 2em;
  height: auto;
}
.Validar{
  padding-top: 0.8em;
}
.formulario-tarjeta .Validar #validar {
  border: none;
  box-shadow: 0px 0px 10px #b6b4b4a0;
  font-size: 1.1em;
  color: white;
  background:  #27171F;
  font-weight: bold;
  padding: 0.4em;
  font-family: "Atma", system-ui;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.formulario-tarjeta .Validar #validar:hover {
  background:  #ff058f;
}
.formulario-tarjeta .Validar #validar:focus{
  box-shadow: 0 0 10px #252525a0;
}
.formulario-tarjeta .flexbox {
  display: flex;
  justify-content: space-between;
}
article{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article img{
  width: 100%;
  height: auto;
  margin: 5px;
}
.caja{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 7px 0;
}
.container{
  display: flex;
  background-color: #252525a0;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}
.modal{
  background-color: #fff;
  box-shadow: 0px 0px 15px #ff10afbd;
  width: 100%;
  max-width: 510px;
  padding: 28px 38px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
  margin-left: 20%;
}
.modal h3{
  margin: 0;
  font-family: "Atma", system-ui;
  font-size: 1.1em;
}
.modal p{
  opacity: 0.6;
  font-size: 1em;
  font-family: system-ui;
}
#cerrar{
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Atma", system-ui;
  color:#ff0e72c4;
  background: #ffb3e8fa;
  border:#ff0e72c4;
  border-radius: 35px;
  cursor:pointer;
  width: 90px;
  margin-top: 10px;
  }
  #cerrar:hover{
    background-color: #ff0e72c4;
    color: white;
    transform: scale(1.1);
  }
  .show{
    pointer-events: auto;
    opacity: 1;
  }
  .recaudacion {
    display: none;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    z-index: 9999;
    padding: 20px;
  }
  .recaudacion::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}
  .recaudacion h1 {
    margin-top: 20px; /* Agregamos un margen superior */
    text-align: center;
    font-family: "Atma", system-ui;
    color: #A03CC1;
    text-shadow: 3px 3px 4px #b6b4b4a0;
    padding-bottom: 20px;
  }
  .recaudacion ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 35px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    text-align: center;
    max-width: 80%;
    margin: auto;
    padding: 10px;
  }
  .recaudacion li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 30px 25px;
    box-shadow: 0px 4px 8px rgba(41, 1, 66, 0.394);
    border-radius: 8px;
    background-color: rgba(157, 8, 249, 0.079);
  }
  .recaudacion img {
    border-radius: 8px;
    max-width: 100%;
    height: 270px;
    object-fit: cover; /* Ajusta la imagen manteniendo su relación de aspecto y recortando si es necesario */
    display: block; /* Asegura que la imagen no tenga espacios adicionales */
    margin-bottom: 15px; /* Agrega un margen inferior */
  }
  .recaudacion p {
    text-align: center;
    font-family: system-ui;
    font-size: 0.9em;
    width: 100%;
    color:  #27171F;
    line-height: 1.4; /* Espaciado de línea */
  }
  .texto-despedida{
    padding-bottom: 4em;
  }
  .close-recaudacion{
    background-color: rgba(200, 200, 200, 0.342);
    color: #252525a0;
    font-size: 2em;
    width: 1.7em;
    height: 1.7em;
    border-radius: 90%;
    padding: 0.5em;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .close-recaudacion:hover {
    color:  #27171F;
    background-color: rgba(170, 168, 168, 0.512);
}
.close-recaudacion i::before {
  content: '×'; /* Contenido para la 'x' */
}
.close-recaudacion::after {
  display: none; /* Oculta la pseudo-clase ::after */
}

/*footer especial para la PAG VALIDAR DONATION*/
.footer-validation {
  background-color:  #C3A8D5;
  color: white;
  padding: 8px 0;
  height: 133px;
}
.container-validation {
  display: flex;
  justify-content: center;
}
.footer-social {
  text-align: center;
}
.footer-social h3 {
  font-family: system-ui;
  margin-bottom: 1em;
  text-shadow: 2px 2px 3px  rgba(80, 80, 80, 0.733);
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  margin: 0 10px;
}
.social-icons img {
  width: 36px;
}
.footer-bottom {
  text-align: center;
  padding-top: 8px;
  font-size: 1em;
}
.footer-bottom .derechos-autor{
  font-family: system-ui;
  text-align: center;
  background-color:  #2e014b85;
  padding: 6px 0;
}
/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 768px) {
 .main-validation{
  display: flex;
  flex-direction: column;
  background-image: url("images/fondo-gracias.png");
 }
  .texto-donar {
    padding: 1em;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
  }
  .texto-donar::before{
    background-color: transparent;
  }
  .texto-donar .title-validation{
    font-size: 1.3em;
    padding-top: 1em;
    padding-bottom: 0.6em;
   }
  .contenedor {
    width: 100%;
    max-width: 600px;
    padding-top: 2em;
  }
  .tarjeta{
    width: 90%;
    max-width: 500px;
    height: 250px;
    max-height: auto;
  }
  .tarjeta>div {
    padding: 12px;
  }
  .tarjeta .delantera {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .delantera .visa img {
    max-width: 75px;
    max-height: 55px;
  }
  .delantera .grupo .label {
    font-size: 1em;
    margin-bottom: 2px;
  }
  .delantera .grupo .numero,
  .delantera .grupo .fullName,
  .delantera .grupo .expiracion {
  font-size: 0.9em;
}
.reversa .link-banco {
  font-size: 0.9em;
}
.contenedor-btn .btn-abrir {
  top: -15px;
}
.contenedor-btn .btn-abrir img {
  width: 45px;
  max-width: 100%;
}
  .formulario-tarjeta {
    width: 96%;
    max-width: 700px;
    top: -120px;
  }
  .formulario-tarjeta label {
    font-size: 1em;
    margin-bottom: 3px;
  }
  .formulario-tarjeta input,
  .formulario-tarjeta select {
  font-size: 0.9em;
  padding: 2px;
}
.formulario-tarjeta .Validar #validar {
  font-size: 1em;
}
  .container{
    height: 101vh;
    width: 101vw;
  }
  .modal{
    margin: 0 auto;
    width: 70%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
  }
  .recaudacion{
    display: none;
  }
  .recaudacion h1 {
    font-size: 1.3em;
  }
  .recaudacion ul {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }
  .recaudacion img {
    height: 220px;
    width: 200px;
  }
  .footer-validation {
    width: 100%;
    height: 100px;
    font-size: 0.8em;
  }
  .footer-bottom .derechos-autor{
    font-size: 0.6em;
  }
  .social-icons img {
    width: 24px;
  }
}

/*--ESTILO DE LA PAG GRACIAS--*/
.main-gracias{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("images/fondo-gracias.png");
  background-size: 100% 100%;
  position: relative;
  background-repeat: no-repeat;
}
.agradecimiento{
  width: 80%;
  color:  #27171F;
}
.agradecimiento .gracias{
  padding-top: 2em;
  font-family: system-ui;
  text-align: justify;
  font-size: 1em;
}
.agradecimiento h3{
  font-family: "Atma", system-ui;
  font-size: 1.3em;
  text-align: center;
  padding: 1em;
  text-shadow: 0px 0px 10px rgba(255, 52, 153, 0.555);
  padding-bottom: 45px;
}
.contenedor-imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 25px; /* espacio entre las imágenes */
  justify-content: center;
}
.contenedor-imagenes article {
  margin: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  background-color: #ff10afbd;
  box-shadow: 0 10px 20px  rgba(255, 52, 153, 0.555);
  transition: transform 0.3s ease;
}
.contenedor-imagenes img {
  width: 97%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(255, 52, 153, 0.555);
  transition: transform 0.3s ease;
  object-fit: cover; /* Ajustar la imagen al tamaño del contenedor */
}
.contenedor-imagenes img:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el cursor */
}
.album{
  border-radius: 10px;
}
.gracias-dona{
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3em 0 4.5em 0;
}
.gracias-dona img {
  max-width: 100%;
}
.apoyo{
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: system-ui;
  font-size: 1em;
  text-align: justify;
  color:  #27171F;
}
.gracias-dona .apoyo-link{
  color: #ff10afed;
  font-size: 1.2em;
  font-family: system-ui;
  padding: 12px 0 15px 0;
  text-shadow: 2px 2px 4px #b6b4b4a0;
}
.gracias-dona a{
  background-color: #ff10afbd;
  padding: 18px;
  color: whitesmoke;
  border-radius: 30px;
  font-family: "Atma", system-ui;
  font-size: 1.3em;
  font-weight: 900;
  margin-top: 1em;
  text-decoration: none;
}
.gracias-dona a:hover{
  background-color: #ff058f;
  color: white;
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
  @media (max-width: 768px) {
    .agradecimiento .gracias{
      font-size: 1em;
    }
  .contenedor-imagenes {
  display: block;
  text-align: center;
  }
  .contenedor-imagenes article {
    margin: 30px auto; /* Margen automático para centrar las imágenes */
    width: 85%; /* Ancho máximo para las imágenes */
  }
  .centrar-imagen img{
    padding: 2em;
  }
}

/* Media query para ajustar el diseño en pantallas aún más pequeñas */
@media (max-width: 576px) {
  .contenedor-imagenes {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 1 columna */
  }
}

/*-- estilos de los footers de adopt y gracias--*/
.footer {
  width: 100%;
  background-color: #c3a8d5;
  color: white;
  font-family: system-ui;
  text-align: center;
  line-height: 0.7;
  padding: 10px;
  position: relative;
}

/* Estilo para los elementos internos del footer */
.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1em;
}
.caja-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 5px #252525a0;
}
.logo, .contacto, .redes {
  width: 100%;
  max-width: 33%;
  margin-bottom: 20px;
  height: auto;
}
.logo img{
  width: 260px;
}
 /* Estilo para las imágenes de redes sociales */
 .redes .social-icono {
  display: inline-block;
}
.redes img{
  width: 45px;
}
.footer-copyright{
  width: 100%;
  padding: 8px;
  background-color: #2e014b85;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .logo img{
    max-width: 100px;
  }
}

